body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f9f9f9;
}
header {
  color: black;
  padding: 20px;
  display: block;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border: 1px solid black;
  margin: 20px;
}

h1 {
  font-size: 24px;
  margin: 20px;
}

.search-bar {
  display: flex;
  gap: 10px;
}

.search-bar input {
  padding: 10px;
  width: 90%;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

.search-bar button {
  padding: 10px 20px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.search-bar button:hover {
  background-color: #003d80;
}

main {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}
.product-card {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.product-card h3 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #333;
}

.product-card p {
  font-size: 14px;
  margin: 8px 0;
  color: #666;
}
.icon {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.icon.completed {
  color: green;
}

.icon.not-completed {
  color: red;
}
